@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    
}

.dev-info{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

#btn-p{
    width: 50%;
    height: auto;
}
#btn-a{
    width: 50%;
    height: auto;
}